@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(../img/main.png) no-repeat fixed;
    background-size: cover;
    font-family: "Ubuntu";
}
.header-container {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 60px;
    color: #fff;
    display: flex; 
    justify-content: space-between;
    align-items: center;  
    padding: 0 5%;
}
.page-title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}
.page-title a {
    text-decoration: none;
    color: #fff;
}

.header-icons {
    display: flex;
    align-items: center;
}
.svg-link {
    margin-right: 25px;
}
.svg-link svg {
    fill: #fff;
}
.svg-link:hover svg {
    fill: #01813F;
}

.welcome {
    border-left: 1px solid rgba(255, 255, 255, 0.51);
    font-size: 14px;
    line-height: 19px;
    padding-left: 25px;
}

.header-container a:hover {
    color: #01813F;
}

.welcome a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}


.form-container {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form {
    background-color: #fff;
    padding: 35px 60px;
    position: relative;
}
.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-title h2 {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-title::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    z-index: 2;
    top: 36px;
    left: 0;
}
.main-form a {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}
.main-form a:hover {
    color: #01813F;
    text-decoration: underline;
}
.button-for-login {
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 20px;
    cursor: pointer;
}
.btns {
    display: flex;
    gap: 5px;
}
.fb {
    background-color: #305DB8;
}
.fb:hover {
    background-color: #022263;
}
.fb span:last-child {
    border-left: 1px solid rgba(10, 22, 47, 0.1);;
    line-height: 26px;
    padding-left: 18px;
}
.fb-icon {
    background-image: url(../img/fb.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 24px;
    padding-right: 18px
}
.google {
    background-color: #DF4A32;
}
.google:hover {
    background-color: #AB1F09;
}
.google span:last-child {
    border-left: 1px solid rgba(10, 22, 47, 0.1);;
    line-height: 26px;
    padding-left: 28px;
}
.google-icon {
    background-image: url(../img/google.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
    padding-right: 8px;
}
.user-data {
    border-top: 1px solid #F2F2F2;
    margin-top: 40px;
}
.user-data legend {
    color: #848484;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}
.user-data input {
    width: 100%;
    height: 44px;
    margin-top: 15px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
::placeholder {
    color: #BEBEBE;
}
.user-data input:focus {
    color: #434343;
    outline: none;
    border-radius: 4px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    background-color: #fff;
}

.check {
    display: inline-block;
    padding-top: 12px;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}

.btn-submit {
    background-color: #3CB878;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.btn-submit:hover {
    background-color: #01813F;
}